<div class="container-fluid">
  <div class="row">
    <div class="container col-md-4 text-center column1">
      <img src="./assets/images/profile.png" alt="Profile picture">
      <h3>GitHub Username: <span><strong>Kevson102</strong></span></h3>
      <h4>My Repositories:</h4>
      <div>
        <span></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-center description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>
