<div class="container-fluid">
  <div class="row">
    <div class="container col-md-4 text-center column1">
      <img src="../../../../assets/images/profile.png" alt="Profile picture">
      <h3>GitHub Username: <span><strong>Kevson102</strong></span></h3>
      <div *ngFor = 'let user of users'>
        <p><small appHighlight>Published: {{user.date | datecounter}} ago</small></p>
      </div>
      <h4>My Repositories:</h4>
      <ul class="navigation">
        <li>Delani Studio</li>
        <li>Phoenix Foods</li>
        <li>Phoenix Quotes</li>
        <li>Akan Name Generator</li>
        <li>Relocation Express Website</li>
        <li>Street Foods Website</li>
      </ul>
      <div>
        <span></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-center description">
        <h3 appHighlight>About Github Repositories</h3>
        <p>
          Git is a software which is mainly used to keep track of file changes, particulaly in the world of programming
        </p>
        <p>For code safety, Github allows users to store their code remotely in repositories, where changes can be pushed from the local machine.</p>
        <p>Publicly available Repositories can be freely accessed using an API.</p>
        <p>This means that with a Github username, you can access someone's list of public repositories</p>
        <div class="btn btn-secondary notice">
          <p>Sounds fun! RIGHT?</p>
          <p>Click on Github Search on the <strong>Navbar</strong> to search user repositories by <strong>username</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
